<% content_for :body do %>
  <div style="font-family: arial, sans-serif;">
    <h2>Your request was approved by Admin</h2>

    <p>Visit your app: <%= link_to @app_link, @app_link %></p>
  </div>
<% end %>
