{{inline-svg 'caredown-setup-complete' class='icon'}}<br>

{{gratsText}}

<div class="btn-group vert-offset-top-1 vert-offset-bottom-1">
  <button {{action "toCaredown"}}>{{btnValue}}</button>
</div>
