/* pace-theme-minimal */
.pace .pace-progress {
  background: <%= @theme_color %>;
}

/* layout */
a { color: <%= @theme_color %> }
a:hover { color: rgba(0, 0, 0, 0.6) }

.nav.unauthenticatedNav {
  background: lighten(<%= @theme_color %>, 40%);
}

.nav.unauthenticatedNav h5 {
  color: <%= @theme_color %>;
}

@media screen and (max-width: $medium-screen) {
.nav.unauthenticatedNav {
    border-bottom: 1px solid <%= @theme_color %>;
  }
}

@media screen and (min-width: $medium-screen) {
  .nav.unauthenticatedNav {
    border: 1px solid <%= @theme_color %>;
  }
}

.search-resource {
  span { color: <%= @theme_color %> }
}
.typeTopickable { color: $grey }

.join-footer { background: <%= @theme_color %> }


/* _btn-group */
.btn-group {
  button {
    background-color: <%= @theme_color %>;
    &.active {
      background-color: darken(<%= @theme_color %>, 15%);
    }
  }
}

/* _bottom_nav */
.bottom-nav .bottom-link.active label {
  color: <%= @theme_color %>;
}

.bottom-nav .bottom-link.active .icon * {
  fill: <%= @theme_color %>;
}


/* global */
.tip {
  background: #ECF7F6;
  color: <%= @theme_color %>;
  border: 1px solid <%= @theme_color %>;
}

.primary-btn { background-color: <%= @theme_color %> }
.primary-btn:hover /*{ background-color: rgba(0, 0, 0, 0.5) }*/
.primary-btn:focus { background-color: rgba(0, 0, 0, 0.5) }

.unreadNotification { background: lighten(<%= @theme_color %>, 40%) }

input[type="submit"] { background-color: <%= @theme_color %> }
input[type="submit"]:hover { background-color: rgba(<%= (@theme_color_rgba << 0.6).join(', ') %>) }


/* settings page */
.ember-power-select-option[aria-current="true"] { background-color: <%= @theme_color %> }

input.ember-power-select-search-input:focus {
  border-color: <%= @theme_color %>;
  box-shadow: 0 0 5px <%= @theme_color %>;
}

.colorable-bg-35 { background-color: <%= @theme_color %> !important }

.picker__list-item--selected,
.picker--focused .picker__list-item--selected {
  background: #dddddd;
  border: none;
}
.picker__list-item:hover {
  background: <%= @theme_color %>;
  border: none;
}

/* Search navigation bar */
.search-resource span { color: <%= @theme_color %> }
.search-resource > a > svg > path { fill: <%= @theme_color %> }
