<br>

{{checkin/note-edit checkin=checkin}}

<div class="flaredown-white-box">
  {{checkin/weather-step}}
</div>

{{#if (not showForCaredown)}}
  {{checkin/summary-posts}}
{{/if}}

{{step-controls step=step
                showBack=false
                forwardLabel=(inline-svg 'history_white')
                onForward=(action "completeStep") }}
