.client-form {
  @include outer-container;
  @include single-col;

  .signupMsg {
    text-align: center;
  }

  input[type=submit] {
    margin-top: 2em;
  }

  .clientLogout {
    margin-top: 2em;
  }
}

