.client-white-box {
  @include outer-container;
  @include single-col;

  .clientLogout {
    margin-top: 1em;
  }
}

.client-form {
  margin-bottom: 3em;

  .signupMsg {
    text-align: center;
  }

  input[type=submit] {
    margin-top: 1em;
  }
}

