.client-dashboard {
  @include outer-container;
  @include single-col;

  .inviteBox {
    margin-top: 1.2em;
  }
}

.waitApproval {
  font-size: 1.2em;

  svg { margin-bottom: 1em; }
}

.clientBgText {
  font-size: 1.4em;
}
