.client-dashboard {
  @include outer-container;
  @include single-col;

  .inviteBox {
    margin-top: 1.2em;
  }

  .btn-client {
    button {
      color: black;
      font-weight: normal;
      font-size: 1.2em;
      background-color: transparent;

      &.active {
        font-weight: 600;
      }

      &:hover,
      &:focus {
        outline: 0;
      }
    }
  }
}

.waitApproval {
  font-size: 1.2em;

  svg { margin-bottom: 1em; }
}

.clientBgText {
  font-size: 1.4em;
}
